
 <div class="card">
  <form class="form" [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
    <div class="title">Update Profile</div>

    <div class="input-group">
      <input type="text" placeholder="username" name="username" formControlName="username" class="input">
      <span *ngIf="updateUserForm.get('username')?.invalid && updateUserForm.get('username')?.touched" class="error">Username is required!</span>
    </div>

    <div class="input-group">
      <input type="text" placeholder="Email" name="email" formControlName="email" class="input">
      <span *ngIf="updateUserForm.get('email')?.invalid && updateUserForm.get('email')?.touched" class="error">Email is required!</span>
    </div>

    <div class="input-group">
      <input type="text" placeholder="First Name" name="firstname" formControlName="firstname" class="input">
    </div>

    <div class="input-group">
      <input type="text" placeholder="Last Name" name="lastname" formControlName="lastname" class="input">
    </div>
 
    <div class="input-group">
      <input type="password" placeholder="Password" name="password" formControlName="password" class="input">
    </div> 

    <div class="input-group">
      <input type="password" placeholder="New Password" name="newPassword" formControlName="newPassword" class="input">
      <span *ngIf="updateUserForm.get('newPassword')?.invalid && updateUserForm.get('newPassword')?.touched" class="error">Password is required!</span>
    </div>


    <div class="input-group">
      <input type="password" placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword" class="input">
      <span *ngIf="updateUserForm.get('confirmPassword')?.invalid && updateUserForm.get('confirmPassword')?.touched" class="error">Passwords do not match!</span>
    </div>
    

    <button class="button" [disabled]="updateUserForm.invalid" type="submit">Update</button>

    
    <div *ngIf="updateMessage" class="alert alert-info">
      {{ updateMessage }}
    </div>
  </form>
</div>
