
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
            <div>
                <a class="title navbar-brand" routerLink="/home">Home</a>
            </div>
        @for (entry of navMenu; track entry){
            <a 
                class=" navbar-brand " 
                [routerLink] = "entry.routerLink"
            >{{entry.text}}</a>
        }
    </div>
        <div> 
            @if(user()){
                <a routerLink="/profile/{{user()?.username}}" class="align-items-center d-flex" style="text-decoration: none;">
                   {{user()?.username}}
                    <mat-icon role="button" (click)="logout()">logout</mat-icon>
                </a>
            }@else {
                <a routerLink="login" class="align-items-center d-flex" style="text-decoration: none;">
                    Login
                    <mat-icon role="button" class="icon-link-hover" routerLink="login">
                        login
                    </mat-icon>
                </a>
            }
        </div>
</nav>