
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
            <div>
                <a class="title navbar-brand" routerLink="/home">Home</a>
            </div>
            <div *ngFor="let entry of navMenu; trackBy: trackByNavMenu">
                <a 
                class=" navbar-brand " 
                [routerLink] = "entry.routerLink"
            >{{entry.text}}</a>
            </div>
    </div>
        <div> 
            @if(userService.user()){
                <a routerLink="/profile/{{userService.user()?.username}}" class="align-items-center d-flex" style="text-decoration: none;">
                   {{userService.user()?.username}}
                    <mat-icon role="button" (click)="logout()">logout</mat-icon>
                </a>
            }@else {
                <a routerLink="login" class="align-items-center d-flex" style="text-decoration: none;">
                    Login
                    <mat-icon role="button" class="icon-link-hover" routerLink="login">
                        login
                    </mat-icon>
                </a>
            }
        </div>
</nav>