<div class="card">
  <div *ngIf="isCurrentUser">
    <div *ngFor="let user of postsByUsername; ">
      <div *ngFor="let post of user.posts;">      
        
        <h1 class="title">{{ user.username }}</h1>
        
        <p class="date">{{formatDate(post.date)}}</p>

        <h1 class="post">{{ post.content }}</h1>
        
        <form [formGroup]="updatePostForm" (ngSubmit)="updatePost(post._id)">
          <input class="input" type="text" formControlName ="content"  placeholder="Update post">
          <button class="button" type="submit" [disabled]="updatePostForm.invalid">Update</button>     
          <button class="button" (click)="deletePost(post._id)">Delete</button>
        </form>

      </div>
    </div>
  </div>
    <div *ngIf="!isCurrentUser">
      <div *ngFor="let user of postsByUsername">
        <div *ngFor="let post of user.posts;">      
          <h1 class="title">{{ user.username }}</h1>
          <p class="date">{{formatDate(post.date)}}</p>
          <h1 class="post">{{ post.content }}</h1>
        </div>
      </div>
    </div>
    <mat-paginator
      class = "paginator" 
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 100]"
      (page)="onPageChange($event)">
    </mat-paginator>
</div>