.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    background: rgba(192, 157, 210, 0.654);
    border: 2px solid #323232;
    box-shadow: 4px 4px #323232;
    width: 900px;
}

.title {
    text-decoration: none;
    font-weight: bold;
}
.post{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
    width: 400px;
    white-space: nowrap;
    padding: 10px;
    height: 90px;
    border-radius: 5px;
    border: 2px solid #323232;
    background-color: #ffff;
    box-shadow: 4px 4px #323232;
    font-size: 15px;
    font-weight: 600;
    color: #323232;    
}


.button {
    border-radius: 5px;
    border: 2px solid #323232;
    background-color: #fff;
    box-shadow: 4px 4px #323232;
    font-size: 17px;
    font-weight: 600;
    color: #323232;
    cursor: pointer;
  }

  .button:disabled{
    background-color: #f2f2f2;
    color: #5f5e5e;
    cursor: not-allowed;
  }

  .input {
    margin: 10px;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #323232;
    background-color: #fff;
    box-shadow: 4px 4px #323232;
    font-size: 15px;
    font-weight: 600;
    color: #323232;
    padding: 10px ;
    outline: none;
    resize: none;
  }
  
  .input::placeholder {
    color: #666;
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid #2d8cf0;
  }

  .paginator{
    background: rgba(192, 157, 210, 0);
  }
  