
<div class="d-flex">
<div class="card text-bg-dark mb-3" style="max-width: 18rem; margin-left: 20px; margin-top: 10%;  ">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>

    </div>
  </div>
  <div class="card text-bg-dark mb-3" style="max-width: 18rem; margin-left: 20%; margin-top: 10%;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>

      
    </div>
  </div>


</div>

<div style="margin-top: 5%; margin-left: 10%;">
    <h2 >Info</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ullam et ad dolore sed, at eos officia. Voluptatem cumque est delectus earum, deleniti nisi minus velit, eum praesentium, voluptas dolorum!
        </p>
</div>

