.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px; 
    padding-bottom: 50px; 
    white-space: nowrap;
    overflow: hidden;
    margin: 90px auto;
    padding: 90px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    background: rgb(238, 236, 236);
    border: 2px solid #323232;
    box-shadow: 4px 4px #323232;
    width: 900px;
  }
.title {
    text-decoration: none;
    font-weight: bold;
}

.post{
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f2f2f2;
}

.post h2{
    padding: 10px;
    height: 90px;
    border-radius: 5px;
    border: 2px solid #323232;
    background-color: #ffff;
    box-shadow: 4px 4px #323232;
    font-size: 15px;
    font-weight: 600;
    color: #323232;
    padding: 5px 10px;
}

.card label{
    padding-bottom: 40px;
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 25px;
    color: #323232;
}
.paginator{
    background-color: rgb(238, 236, 236);
  }
  