.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); 
  padding-top: 50px; 
  padding-bottom: 50px; 
  flex-wrap: wrap;
}

.form {
  padding: 20px;
  background: lightgrey;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid #323232;
  box-shadow: 4px 4px #323232;
  
}

.title {
  color: #323232;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.title a {
  color: #666;
  font-weight: 600;
  font-size: 17px;
  text-decoration-line: none; 
}

.input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #323232;
  background-color: #fff;
  box-shadow: 4px 4px #323232;
  font-size: 15px;
  font-weight: 600;
  color: #323232;
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: #666;
  opacity: 0.8;
}

.input:focus {
  border: 2px solid #2d8cf0;
}

.label {
  color: #323232;
  font-weight: 600;
  font-size: 17px;
  padding: 5px 0;
}

.button {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #323232;
  background-color: #fff;
  box-shadow: 4px 4px #323232;
  font-size: 17px;
  font-weight: 600;
  color: #323232;
  cursor: pointer;
}